workflows/get_chat_history.json
{
  "name": "Get Chat History",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "chat/history/:sessionId",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Check if the session exists in Redis first\nSELECT 1 FROM chat_sessions WHERE session_id = '{{$node[\"Webhook\"].parameter[\"path\"].split(\"/\")[3]}}'",
        "additionalFields": {}
      },
      "name": "Check Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Check Session').first() ? 1 : 0 }}",
              "operation": "equal",
              "value2": 1
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get the chat session\nSELECT * FROM chat_sessions \nWHERE session_id = '{{$node[\"Webhook\"].parameter[\"path\"].split(\"/\")[3]}}';\n\n-- Get all messages for the session\nSELECT \n  message_id, \n  session_id, \n  author, \n  content, \n  timestamp, \n  state, \n  metadata \nFROM chat_messages \nWHERE session_id = '{{$node[\"Webhook\"].parameter[\"path\"].split(\"/\")[3]}}' \nORDER BY timestamp ASC;",
        "additionalFields": {}
      },
      "name": "Get History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"success\": true, \n  \"session\": $('Get History').all()[0][0], \n  \"messages\": $('Get History').all()[1] \n}",
        "options": {}
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Session not found\" }",
        "options": {
          "responseCode": 404
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        450
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Get History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get History": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
