workflows/list_chat_sessions.json
{
  "name": "List Chat Sessions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "chat/sessions",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  session_id, \n  created_at, \n  updated_at, \n  summary, \n  (SELECT COUNT(*) FROM chat_messages WHERE chat_messages.session_id = chat_sessions.session_id) as message_count \nFROM chat_sessions \nORDER BY updated_at DESC \nLIMIT 100;",
        "additionalFields": {}
      },
      "name": "Get Sessions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"success\": true, \n  \"sessions\": $('Get Sessions').all()[0] \n}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sessions": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
